body{
    background:red !important;
}
body {
    margin: 0;

    font-family: 'Manrope', sans-serif;
    color: white;

    background: linear-gradient(
    to bottom,
    #102042 0%,
    #1b3c73 30%,
    #2d3f88 60%,
    #202b5a 100%);

    min-height: 100vh;
}
main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    z-index: 1;
}

h1 {
    color: #D4AF37;
    font-size: 40px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
h1:hover{
    color: #fbbf24 ;
}
h2 {
    color: #D4AF37;
    font-family: 'DM Serif Display', serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo{
    color: #D4AF37;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    transition: color 0.3s ease;
}
.logo:hover{
    color: #fbbf24;
}

nav{
    display:flex;
    justify-content:center;
    gap:18px;
    margin:35px 0;
    flex-wrap:wrap;
}
nav a {
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav a:hover{
    color: #fbbf24;
    background: rgba(251,191,36,0.12);
    transform: translate(3px, -2px);
}
.active{
    color:#fbbf24;
    background:rgba(251,191,36,0.12);
    border-radius:50px;
}
.gallery{
    column-count: 3;
    column-gap: 18px;
    margin-top:40px;
}
.memory-card{

    position:relative;

    overflow:hidden;

    border-radius:18px;

    margin-bottom:18px;

    break-inside:avoid;

    cursor:pointer;
}
.memory-card img{

    width:100%;

    display:block;

    border-radius:18px;

    transition:0.4s ease;
}
.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    transition:.35s ease;
}
.overlay h3{

    color:white;

    font-size:22px;

    text-align:center;

    font-family:'DM Serif Display',serif;
}
.memory-card:hover img{

    transform:scale(1.06);
}

.memory-card:hover .overlay{

    opacity:1;
}

footer {
    margin: 20px;
    text-align: center;
}